<div class="js-added-cart">
  <div class="added-cart js-product_section">
    <div class="added-cart__container container js-added-cart-container media-position--{{ settings.product_images_position }}">
      <div class="added-cart__gallery one-half column gallery-wrap gallery-arrows--{{ settings.gallery_arrows }} gallery-thumbnails--{{ settings.thumbnail_position }}">
        <img src=""/>
      </div>

      <div class="added-cart__text-wrap one-half column text-modal-wrap">
        <!--Product banners inserted with JS - populateProductInfo() -->
        <div class="addedCheck">
          <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.148438" y="0.353516" width="40" height="40" rx="20" fill="#D6C7A3"/>
            <path d="M16.7229 28.1321L9.875 21.297L11.7595 19.4125L16.7229 24.3662L28.5373 12.5742L30.4219 14.4588L16.7229 28.1321Z" fill="black"/>
            </svg>              
        </div>
        <div class="label-added">
          ADDED TO CART
        </div>
        <div class="label-project"></div>
        <div class="label-price"></div>
        <div class="wrapperlinks">
          <a href='#' class="toShopping">CONTINUE SHOPPING</a>
          <a href='#' class="toCheckout">PROCEED TO CHECKOUT</a>
        </div>
      </div>
    </div>
  </div>
</div>
