{% include 'include-newsletter' %}

{% schema %}
  {
    "name": "About Us | Newsletter",
    "class": "shopify-section--newsletter",
    "settings": [
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_first_name",
        "label": "Show first name",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_last_name",
        "label": "Show last name",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "top_image",
        "label": "Top Image",
        "info":"115 x 72px recommended"
      },
      {
        "type": "text",
        "id": "newsletter_pre_title",
        "label": "Pre title",
        "default": "SUBSCRIBE TO OUR NEWSLETTER"
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Heading",
        "default": "Be the first to hear the latest news"
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "label": "Heading Font Size",
        "min": 12,
        "step":1,
        "max": 100,
        "default": 58,
        "unit": "px"
      },
      {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Subheading",
        "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading"
      },
      {
        "type": "color",
        "id": "pretext_color",
        "label": "PreText Color"
      },
      {
        "type": "color",
        "id": "button_label_color",
        "label": "Button Label Color"
      },
      {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button BG Color"
      },
      {
        "type": "select",
        "id": "newsletter_section_text_align",
        "label": "Text alignment",
        "default": "center",
        "options": [
           {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
       ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info":"1600 x 300px recommended"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "presets": [{
      "name": "About Us | Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
